.container{
    margin-bottom: 100px;
}
.carosel-bg{
    background-color: #FCEAE8;
    border-radius: 10px;
}
.carousel-item{
    padding: 40px 40px;
    
}
.price{
    color: #FF136F;
}
.buy-now{
    background-image: linear-gradient(rgb(255, 88, 155) 0%, rgb(255, 19, 111) 100%);
    padding: 09px 25px;
    color: white;
    border: none;
    border-radius: 8px;
}
.catagori-1, .catagori-2, .catagori-3{
    padding: 10px 30px;
    border-radius: 10px;
}
.catagori-1{
    background-color: #FFA500;
    color: white;
    border-radius: 10px;
}
.catagori-2{
    background-color: #DA70D6;
}
.catagori-3{
    background-color: #0000FF;
}
.catagories h1{
    color: white;
}
.catagories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}